html 
head 
title=title 
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
body div(classe="container")
<center><div class="well><b>Users Details</b></div></center>
table(class='table table-striped')
thead
tr 

th Name
th email
th password
th mobile each item in items
tr 

td=item.name
td=item.email
td=item.pasword